<menu>
	<menuitem label="Menu1">
		<menuitem label="open file" hotKey="Ctrl+O"/>
		<menuitem label="save" hotKey="Ctrl+S"/>
		<menuitem label="save as" hotKey="Ctrl+Shift+S"/>
	</menuitem>
	<menuitem label="Menu2">
		<menuitem label="MenuItem 2-A" type="check"/>
		<menuitem type="separator"/>
		<menuitem label="MenuItem 2-B" >
			<menuitem label="SubMenuItem 3-A" type="radio" groupName="one"/>
			<menuitem label="SubMenuItem 3-B" type="radio" groupName="one"/>
		</menuitem>
	</menuitem>
</menu>
